/* Version.css */

.container {
    background-color: #b0c4a8; /* Sage Green Color */
    padding: 20px;
    text-align: center; /* Center text horizontally */
    min-height: 100vh;
  }
  
 
  
  .dropdown--div {
    margin-bottom: 20px; /* Add margin bottom for spacing between dropdowns */
  }
  
  .dropdown--div select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #333; /* Black Color */
    background-color: #fff; /* White Color */
    color: #333; /* Black Color */
    width: 100%;
    max-width: 300px; /* Adjust the width as needed */
  }
  
  .dropdown--div select:hover {
    background-color: #f0f0f0; /* Light Gray Color on Hover */
  }
  
  .dropdown--div select:focus {
    outline: none;
    border-color: #666; /* Dark Gray Color on Focus */
  }
  
  .table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  .table th {
    background-color: #333; /* Black Color */
    color: #fff; /* White Color */
    padding: 10px;
  }
  
  .table td,
  .table th {
    padding: 10px;
    border: 1px solid #333; /* Black Color */
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #d9e1d4; /* Light Sage Green Color */
  }
  
  .table tbody tr:hover {
    background-color: #a8bba3; /* Darker Sage Green Color on Hover */
  }
  